
.vs/Utilities/v16/.suo
.vs/Utilities/v16/TestStore/0/000.testlog
.vs/Utilities/v16/TestStore/0/testlog.manifest
Utilities/bin/Debug/ExcelDna.Utilities.dll
Utilities/bin/Debug/Utilities-AddIn-packed.xll
Utilities/bin/Debug/Utilities-AddIn.dna
Utilities/bin/Debug/Utilities-AddIn.xll
Utilities/bin/Debug/Utilities-AddIn64-packed.xll
Utilities/bin/Debug/Utilities-AddIn64.dna
Utilities/bin/Debug/Utilities-AddIn64.xll
Utilities/bin/Debug/Utilities.dll
Utilities/bin/Debug/Utilities.pdb
Utilities/bin/Debug/Utilities.tlb
Utilities/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttributes.cs
Utilities/obj/Debug/Utilities.csproj.CopyComplete
Utilities/obj/Debug/Utilities.csproj.CoreCompileInputs.cache
Utilities/obj/Debug/Utilities.csproj.FileListAbsolute.txt
Utilities/obj/Debug/Utilities.csprojAssemblyReference.cache
Utilities/obj/Debug/Utilities.dll
Utilities/obj/Debug/Utilities.pdb
Utilities/obj/Utilities.csproj.UnmanagedRegistration.cache
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Utilities_ut/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
Utilities_ut/bin/Debug/Utilities.dll
Utilities_ut/bin/Debug/Utilities.pdb
Utilities_ut/bin/Debug/Utilities_ut.dll
Utilities_ut/bin/Debug/Utilities_ut.pdb
Utilities_ut/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Utilities_ut/obj/Debug/Utilities_ut.csproj.CopyComplete
Utilities_ut/obj/Debug/Utilities_ut.csproj.CoreCompileInputs.cache
Utilities_ut/obj/Debug/Utilities_ut.csproj.FileListAbsolute.txt
Utilities_ut/obj/Debug/Utilities_ut.csprojAssemblyReference.cache
Utilities_ut/obj/Debug/Utilities_ut.dll
Utilities_ut/obj/Debug/Utilities_ut.pdb
*.lock
*.ide
*.testlog
*.xll
*.cache
